html{
    height: 100%;
}

body{
    height: 100%;
    background: #E1E5F2; /*gray background*/
    color: #022B3A; /* dark blue/black text */
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


/* ------ NAVIGATION ------ */

.topnav{
    background-color: #317873;/*sea foam green*/
    overflow: hidden;
}


.topnav a{
    float: left;
    display: block;
    color: #fff; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover{
    text-decoration: underline;
}

.topnav .icon{
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) 
credit: w3schools.com */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) 
credit: w3schools.com */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* ------ CONTENT ------ */

/* picture on landing */
div.landing{
    margin-left: auto;
    margin-right: auto;
    background-image: url(sarah_nyc_building.JPG);
    height: 80%;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
}
div.landing-content{
    background: rgba(260,260,260, 0.7);
    position: absolute;
    top: 60px;
    left: 20px;
    width: 50%;
    max-width: 450px;
    padding: 10px;
}
h1, h2{
    font-family: 'Encode Sans Condensed', sans-serif;
    margin-left: 15px;
}
p{
    margin-left: 15px;
}
a{
    color: #317873;
}

div.triangle-down, div.triangle-up{
    float: left;
}
.triangle-down {
    width: 3.5%;
    height: 0;    
    padding-bottom: 3.5%;
    overflow: hidden;
}
.triangle-down:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #317873;
}
.triangle-up{
    width: 3.5%;
    height: 0;    
    padding-bottom: 3.5%;
    overflow: hidden;
}
.triangle-up:after{
  content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #317873;
}

/*Project cards*/
/* Three columns side by side */
.projects{
    margin-top: 100px;
}

.column {
    float: left;
    width: 32%;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background-color: #f3f4f9; /* tint of background color */
    
}
.card-container{
    height: 50px;
}
h3{
    margin: 2%;
    font-size: 1.1em;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

#lab_social_icon_footer {
    background-color: #E1E5F2;
    text-align: center;
    padding-top: 400px;
    padding-bottom: 20px;
}

#lab_social_icon_footer a {
  color: #333;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
/*
    Multicoloured Hover Variations
*/

#lab_social_icon_footer #social-in:hover {
  color: #0077B5;
}

#lab_social_icon_footer #social-gh:hover {
  color: #6E5494;
}

#lab_social_icon_footer #social-cp:hover {
  color: #000000;
}

#lab_social_icon_footer #social-me:hover {
  color: #000000;
}

#lab_social_icon_footer #social-em:hover {
  color: #DB3236;
}